[program:laravel-worker]
process_name=%(program_name)s_%(process_num)02d
command=php -d memory_limit=512M /var/www/artisan queue:work database --sleep=3 --tries=3 --memory=256 --max-jobs=100 --max-time=3600
autostart=true
autorestart=true
stopasgroup=true
killasgroup=true
user=laradock
numprocs=4
redirect_stderr=true
stdout_logfile=/var/www/storage/logs/queue.log
stopwaitsecs=3600


